code/*.iml
code/.gradle
code/local.properties
code/.idea/caches
code/.idea/libraries
code/.idea/modules.xml
code/.idea/workspace.xml
code/.idea/navEditor.xml
code/.idea/assetWizardSettings.xml
code/.DS_Store
code/build
code/captures
code/.externalNativeBuild
code/.cxx
code/local.properties
